@import '../../scss/responsive';

.slider {
    height: 500px;
    width: 70vw;
    position: relative;

    @include mobile {
        height: 200px;
        width: 330px;
    }

    @include monitor {
        width: 896px;
    }

    %arrow {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #A8DADC;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        cursor: pointer;
        position: absolute;
        top: 45%;
        z-index: 10;
        color: #fff;

        &:hover {
            opacity: .7;
        }

        @include mobile {
            top: 35%;
        }
    }

    &__leftArrow {
        @extend %arrow;
        left: -80px;

        @include mobile {
            left: -30px;
            opacity: .7;
        }
    }

    &__rightArrow {
        @extend %arrow;
        right: -80px;

        @include mobile {
            right: -30px;
            opacity: .7;
        }
    }

    &__container {
        width: 100%;
        height: 90%;
        overflow: hidden;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, .3);
        margin-bottom: 25px;
        border-radius: 5px;

        .imageWrapper {
            height: 100%;
            width: 100%;
            display: flex;
            transition: all .4s ease;
            align-items: center;

            div {
                width: 896px;
                height: 100%;

                @include mobile {
                    width: 330px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: fill;

                    @include mobile {
                        object-fit: fill;
                    }
                }
            }
        }
    }

    .dots {
        height: 5%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .dot {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin: 0px 15px;
            transition: all .4s ease;
            cursor: pointer;

            @include mobile {
                height: 2px;
                width: 15px;
                border-radius: 0%;
                margin: 0px 5px;
                margin-bottom: 20px;
            }
        }
    }
}