//colors
$black: #232323;
$white: #fff;

$prussian-blue: #1d3557;
$celadon-blue: #457b9d;
$powder-blue: #a8dadc;
$honeydew: #f1faee;

$imperial-red: #e63946;

//animation timing
$transition: all .2s ease-in;

//container sizes
$container-width: 1104px;
$container-height: 100%;