@import './variables';
@import '../../src/scss/responsive';

.main-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.secondary-title {
    font-size: 22px;
    color: $powder-blue;
    font-weight: 400;
    @include mobile {
        font-size: 18px;
    }
}