@import '../../scss/variables';
@import '../../scss/responsive';

.sProject {
    &__container {
        padding: 20px;
        margin: 0 auto;
        width: $container-width;
        height: $container-height;

        @include mobile {
            width: 100%;
            padding: 20px 0px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            @include mobile {
                padding: 0px 20px;
            }

            &__logo {
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                padding: 2px;
                background-color: $prussian-blue;
                background-image: linear-gradient(90deg, $prussian-blue 0%, $celadon-blue 50%, $powder-blue 100%);
                font-size: 18px;
                color: $honeydew;
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
            }
        }

        .error {
            height: 300px;
            color: red;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .project {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            &__title {
                margin-bottom: 20px;
            }

            &__desc {
                width: 70%;
                margin-top: 30px;

                @include mobile {
                    width: 90%;
                }

                @include monitor {
                    width: 896px;
                }

                div {
                    font-size: 18px;
                    line-height: 31px;

                    @include mobile {
                        font-size: 16px;
                        line-height: 26px;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}